<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Faster Tuning with Manual Stack Profiling</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" type="text/css"
	href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />

<link rel="stylesheet" th:href="@{/css/main.css}"
	href="../../css/main.css" />

</head>
<body>

	<nav class="navbar navbar-inverse">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">Spring Boot</a>
			</div>
			<div id="navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li class="active"><a href="#">Home</a></li>
					<li><a href="javascript:window.open('http://localhost:4000', 'Monitoring', 'location=yes,height=570,width=520,scrollbars=yes,status=yes');">Monitoring</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container">
		<div class="starter-template">
			<h1>Faster Tuning with Manual Stack Profiling</h1>

			<h2>
				<span th:text="' ' + ${xpathMessage}"></span>
			</h2>
			<div class="container-fluid" style="border:1px solid #cecece;">
				<div class="row">                                           
				  <div class="col-xs-12"> Implementation </div>
				</div>                                                      
				<div class="row">                                           
				  
				  <div class="col-xs-12"> 

<div class="form-check">
  <label class="form-check-label">
    <input id="id_xpath_0" class="form-check-input" type="radio" name="exampleRadios" value="option1" checked="true" />
    <a href="http://www.oracle.com/us/technologies/java/validationxpath-141471.html">Basic approach to XPath</a>
  </label>
			<div class="container-fluid" style="border:1px solid #cecece;">
				<div class="row">                                           

				  
				</div>                                                      
				<div class="row">                                           

				  <div class="col-xs-12"> 

					   <div class="form-check">
						   <label class="form-check-label">
							 <input id="id_xpathFactoryCache" class="form-check-input" type="checkbox" value=""/>
							 Avoid calls to <a href="https://docs.oracle.com/javase/8/docs/api/javax/xml/xpath/XPathFactory.html#newInstance--">XPathFactry.newInstance()</a>, which is noticeably slow.
						   </label>
						 </div>
					   <div class="form-check">
						   <label class="form-check-label">
							 <input id="id_docBuilderCache" class="form-check-input" type="checkbox" value=""/>
							 Avoid calls to <a href="https://docs.oracle.com/javase/8/docs/api/javax/xml/parsers/DocumentBuilderFactory.html#newInstance--">DocumentBuilderFactory.newInstance()</a>, which is noticeably slow.
						   </label>
						 </div>
						 </div>
				</div>
			</div>
  
</div>
<div class="form-check">
  <label class="form-check-label">
    <input id="id_xpath_1" class="form-check-input" type="radio" name="exampleRadios" value="option2" />
    Avoid DOM parsing by caching it for repeat input.
  </label>
</div>
<div class="form-check">
  <label class="form-check-label">
    <input id="id_xpath_2" class="form-check-input" type="radio" name="exampleRadios" value="option3" />
    Avoid DOM parsing and XPath eval by caching HTTP response for given input for repeat input.
  </label>
</div>

					 </div>               
				</div>                                                      
				
			</div>       
		
			<h2>
				<span th:text="' ' + ${busyMessage}"></span>
			</h2>
			<div class="container-fluid" style="border:1px solid #cecece;">
				<div class="row">                                           
				  
				  
				</div>                                                      
				<div class="row">                                           

				  <div class="col-xs-12"> 
						<p/>
							<div class="row">
							  <div class="col-lg-6">
								<div class="input-group col-xs-2">
								  <span class="input-group-btn">
									<button id="id_processingItems_btn" class="btn btn-secondary btn-xs" type="button">Go!</button>
								  </span>
								  <input id="id_processingItems" type="text" class="form-control input-xs" />
								</div>
							  </div>						
							</div>  
							  <p/>
							<div class="row">
							  <div class="col-lg-6">
								<div class="input-group col-xs-2">
								  <span class="input-group-btn">
									<button id="id_processingIterations_btn" class="btn btn-secondary btn-xs" type="button">Go!</button>
								  </span>
								  <input id="id_processingIterations" type="text" class="form-control input-xs"  />
								</div>
							  </div>						
							</div>  
  <p/>
					 </div>               
				</div>                                                      
			</div>

			<h2>
				<span th:text="' ' + ${otherMessage}"></span>
			</h2>
			<div class="container-fluid" style="border:1px solid #cecece;">
				<div class="row">                                           
				  <!-- Need to add theme, buttons  <div class="col-xs-12"> Text here </div>  -->                       
				  
				</div>                                                      
				<div class="row">                                           
				  <!-- Need to add theme, buttons -->                       
				  <div class="col-xs-12"> 

					   <div class="form-check">
						   <label class="form-check-label">
							 <input id="id_fileCache" class="form-check-input" type="checkbox" value=""/>
							 File Cache
						   </label>
						 </div>
					   <div class="form-check">
						   <label class="form-check-label">
							 <input id="id_uuidImplementation" class="form-check-input" type="checkbox" value=""/>
							 Optimized UUID
						   </label>
						 </div>
					   <div class="form-check">
						   <label class="form-check-label">
							 <input id="id_randomIntegerImplementation" class="form-check-input" type="checkbox" value=""/>
							 Optimized Random Integer
						   </label>
						 </div>

					 </div>               
				</div>                                                      
				
			</div>       
			<p/>
			<p/>
					<div id="alert_placeholder"></div>
						
		</div>
	</div>


	<script type="text/javascript"
		src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script>
// <![CDATA[    

			/**  
			  *  Get system status when web page first loads.
			  */
		   var lastChangeUrl;
           var cfgXml;
           var xhr = new XMLHttpRequest();
           xhr.open('GET', "/config", true);
   
           xhr.addEventListener("readystatechange", processRequest, false);
           xhr.send();
           function processRequest(event) {
                   if (xhr.readyState == 4 && xhr.status == 200) {
                           cfgXml = xhr.responseXML;
                           refreshScreen();
                           showalert("Server up, ready to tune!","alert-success");
                   }
           }
           function refreshScreen() {
           
				var xpathImplementation = cfgXml.getElementsByTagName('xpathImplementation')[0].childNodes[0].nodeValue;
				refreshRadio( parseInt(xpathImplementation) );
				
				var xpathFactoryCache = cfgXml.getElementsByTagName('xpathFactoryCache')[0].childNodes[0].nodeValue;
				document.getElementById("id_xpathFactoryCache").checked = (xpathFactoryCache.trim()==="true") ? true : false;
				
				var docBuilderCache = cfgXml.getElementsByTagName('docBuilderCache')[0].childNodes[0].nodeValue;
				document.getElementById("id_docBuilderCache").checked = (docBuilderCache.trim()==="true") ? true : false;
				
				var processingItems = cfgXml.getElementsByTagName('processingItems')[0].childNodes[0].nodeValue;
				document.getElementById("id_processingItems").value = processingItems.trim();

				var processingIterations = cfgXml.getElementsByTagName('processingIterations')[0].childNodes[0].nodeValue;
				document.getElementById("id_processingIterations").value = processingIterations.trim();
				
				var varFileCache = cfgXml.getElementsByTagName('fileCache')[0].childNodes[0].nodeValue;
				document.getElementById("id_fileCache").checked = (varFileCache.trim()==="true") ? true : false;
				
				var randomIntegerImplementation = cfgXml.getElementsByTagName('randomIntegerImplementation')[0].childNodes[0].nodeValue;
				document.getElementById("id_randomIntegerImplementation").checked = (randomIntegerImplementation.trim()==="1") ? true : false;

				var uuidImplementation = cfgXml.getElementsByTagName('uuidImplementation')[0].childNodes[0].nodeValue;
				document.getElementById("id_uuidImplementation").checked = (uuidImplementation.trim()==="1") ? true : false;

				
           }
           function refreshRadio(newValue) {
           		
           		switch(newValue) {
           			case 0:
           				document.getElementById("id_xpath_0").checked = true;
           				document.getElementById("id_xpath_1").checked = false;
           				document.getElementById("id_xpath_2").checked = false;
           				break;
           			case 1:
           				document.getElementById("id_xpath_0").checked = false;
           				document.getElementById("id_xpath_1").checked = true;
           				document.getElementById("id_xpath_2").checked = false;
           				break;
           			case 2:
           				document.getElementById("id_xpath_0").checked = false;
           				document.getElementById("id_xpath_1").checked = false;
           				document.getElementById("id_xpath_2").checked = true;
           				break;
           		}
           }
           function sendRadioState() {
           		var xpathImpl;
           		
           		if (
           			    document.getElementById("id_xpath_0").checked
           			&& !document.getElementById("id_xpath_1").checked
           			&& !document.getElementById("id_xpath_2").checked
           			) {
           			xpathImpl = "0";
           		} else if (
           			   !document.getElementById("id_xpath_0").checked
           			&&  document.getElementById("id_xpath_1").checked
           			&& !document.getElementById("id_xpath_2").checked
           			) {
           			xpathImpl = "1";
           		} else if (
           			   !document.getElementById("id_xpath_0").checked
           			&& !document.getElementById("id_xpath_1").checked
           			&&  document.getElementById("id_xpath_2").checked
           			) {
           			xpathImpl = "2";
           		} 	
           		sendConfigChange("xpathImplementation", xpathImpl );
           }
           /**
             *   E V E N T     H A N D L E R S
             *
             */
		   document.getElementById('id_xpathFactoryCache').onclick = function() {
		   		sendConfigChange("xpathFactoryCache", this.checked ? "true" : "false" );
		   };
 		   document.getElementById('id_docBuilderCache').onclick = function() {
		   		sendConfigChange("docBuilderCache", this.checked ? "true" : "false" );
		   };
 		   document.getElementById('id_fileCache').onclick = function() {
		   		sendConfigChange("fileCache", this.checked ? "true" : "false" );
		   };
 		   document.getElementById('id_randomIntegerImplementation').onclick = function() {
		   		sendConfigChange("randomIntegerImplementation", this.checked ? "1" : "0" );
		   };
 		   document.getElementById('id_uuidImplementation').onclick = function() {
		   		sendConfigChange("uuidImplementation", this.checked ? "1" : "0" );
		   };
 		   document.getElementById('id_xpath_0').onclick = function() {
		   		sendRadioState();
		   };
 		   document.getElementById('id_xpath_1').onclick = function() {
		   		sendRadioState();
		   };
 		   document.getElementById('id_xpath_2').onclick = function() {
		   		sendRadioState();
		   };
 		   document.getElementById('id_processingItems_btn').onclick = function() {
				var processingItems = document.getElementById("id_processingItems").value;
		   		sendConfigChange("processingItems", processingItems.trim() );
		   };
 		   document.getElementById('id_processingIterations_btn').onclick = function() {
				var processingIterations = document.getElementById("id_processingIterations").value;
		   		sendConfigChange("processingIterations", processingIterations.trim() );
		   };
           
           
		   /**
			 Bootstrap Alerts -
			 Function Name - showalert()
			 Inputs - message,alerttype
			 Example - showalert("Invalid Login","alert-error")
			 Types of alerts -- "alert-error","alert-success","alert-info","alert-warning"
			 Required - You only need to add a alert_placeholder div in your html page wherever you want to display these alerts "<div id="alert_placeholder"></div>"
			 Written On - 14-Jun-2013
			 stolen from: http://stackoverflow.com/questions/10082330/dynamically-create-bootstrap-alerts-box-through-javascript
			 see also:  http://www.tutorialrepublic.com/twitter-bootstrap-tutorial/bootstrap-alerts.php
		   **/

			 function showalert(message,alerttype) {

			   
			   var foo = document.createElement('foo');
			   foo.innerHTML = '<div id="alertdiv" class="alert fade in ' +  alerttype + '"><a class="close" data-dismiss="alert">×</a><span>'+message+'</span></div>';
			   document.getElementById("alert_placeholder").appendChild(foo);

			   setTimeout(function() { // this will automatically close the alert and remove this if the users doesnt close it in 5 secs


				 var x = document.getElementById("alertdiv");
				 x.parentNode.removeChild(x);

			   }, 5000);
			 }           

           function sendConfigChange(variableName, variableValue) {
					var xhr = new XMLHttpRequest();
					lastChangeUrl="/config?"+variableName+"="+variableValue;
					xhr.open('GET', lastChangeUrl, true);
   
					xhr.addEventListener("readystatechange", displayStatus, false);
					xhr.send();
					function displayStatus(event) {
							if (xhr.readyState == 4 && xhr.status == 200) {
									showalert("Change applied: "+lastChangeUrl,"alert-success");
							}
					}
           }

// ]]>           
     </script>

</body>
</html>
